.container {
    background-color: #1e2343;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-around;
    position: relative;
}
.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tiles {
    display: flex;

    flex: 1;
}
.tile {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    gap: 10px;
}

.time_text {
    font-size: 1.5rem;
    margin-block: 0.1em;
}

.control_btn {
    width: 20px;
}

.btn {
    display: block;
    width: 86%;
    margin: auto;
    border: none;
    background-color: #ff6a6a;
    color: white;
    border-radius: 22em;
    padding: 5px;
    font-size: medium;
}

.time_box {
    font-size: large;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #191e39;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 6px 26px 0px #0000009c inset;

    box-shadow: -3px -7px 16px 0px #5f58583b;
}
.colon {
    display: flex;
    align-items: center;
    padding-top: 7%;
}

.progress_container {
    height: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    padding: 10px;
}

.timmer_text {
    font-size: 3rem;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff6a6a;
    width: 40px;
    height: 40px;
    border-radius: 22em;
    text-align: center;
    box-shadow: 0px 6px 26px 0px #0000009c inset;
    cursor: pointer;
    box-shadow: -3px -7px 16px 0px #5f58583b;
    position: absolute;
    top: 20px;
    right: 20px;
}

@media (min-width: 720px) {
    .container {
        background-color: #1e2343;
        border-radius: 20px;
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 15px;
        justify-content: space-around;
    }
    .time_text {
        font-size: 1.5rem;
        margin-block: 0.1em;
    }
    .controls {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 53%;
    }
    .reset {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff6a6a;
        width: 40px;
        height: 40px;
        border-radius: 22em;
        text-align: center;

        box-shadow: 0px 6px 26px 0px #0000009c inset;
        cursor: pointer;
        box-shadow: -3px -7px 16px 0px #5f58583b;
    }
    .tile {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0px;
    }

    .timmer_text {
        font-size: medium;
    }
}
